@charset "utf-8";

/* contenitore generico della pagina*/
#contenitore {
  width: 100%;
  /*height: 1500px;*/
  margin: auto;
}
/* -- HEADER -- */
header {
  width: 100%;
  height: 300px;
  margin: auto;
  text-align: center;
}
#img_logo{
  width: 200px;
  height: 150px;
  margin-top: 8px;
}
#video_header{
  width: 600px;
  height: 100px;
}
#img_ragazzo{
  width: 350px;
  height: 250px;
  margin-top: 50px;
  margin-left: 0px;
}
/* -- MAIN -- */
main{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 80%;
}
/* -- ASIDE --*/
aside {
  position: relative;
  width: 20%;
  border: 2.5px black solid;
  border-bottom: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color:black;
}
.img_aside{
  width: 100%;
  height: 100%;
}
/*  -- CONTENITORE CON NAV E GALLERY --*/
#contenitore2{
  width: 80%;
  height: 100%;
}
/* -- NAV --  */
nav {
  position: relative;
  width: 100%;
  height: 60px;
  display: block;
  background-color: black;
  border-radius: 20px;
}
nav ul{
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  margin: auto;
  padding: 0;
  font-size: 25px;
  font-family: Barlow;
}
nav li {
  width: auto;
  height: 60px;
  text-align: center;
  line-height: 55px; /* solo così sono riuscita a centrare la scritta*/
  list-style: none;
  padding-top: 0;
  padding-bottom: 0;
}
#nav_li1, #nav_li2, #nav_li4, #nav_li5{
  width: 19%;

}
#nav_li3{
  width: 24%;

}
nav a {
  color: #bcbebf;
  text-decoration: none!important;
}
nav a:hover{
  color: white;
}
/* --GALLERY -- */
gallery {
  width: 100%;
  height: auto;
  font-family: "Barlow", sans-serif;
  margin-top:15px;
}
#offerta_title{
	text-align:center;
	font-size: 50px;
  	text-shadow: 5px 5px 5px gray;
	margin-top:30px;
}
.offerte_domande{
	font-size:27px;
	text-align:center;
}
p{
	font-size: 22px;
	text-align:center;
}
/*.text{
  font-size: 60px;
  text-shadow: 5px 5px 5px gray;
}*/
.img-fluid{
	margin-top:13px;
	margin-bottom:auto;
}
.gif1{
  width: 50px;
  height: 50px;
}

.gif2{
  border-radius: 17px;
  position: relative; /* l'elemento si posiziona in relazione al suo contenitore, ma va configurato con altri attributi */
  left: 0px;
  right: 0px;
  top: auto;
  bottom: auto;
  margin: auto;
  min-width: auto;
  max-width: 100%;
  width: auto; 
  height: auto;
}

footer{
  height: 100px;
  background-color: black;
  font-size: 15px;
  color: white;
  font-family: Barlow;
}
#footer{
  padding: 20px;
  margin: auto;
}
#footer_sx{
  margin: auto;
  line-height: 200%;
}
#footer_center{
  margin: auto;
  line-height: 200%;
}

#facebook{
  max-width: 35px;
  margin-left: 10px;
}

#instagram{
  max-width: 35px;
  margin-left: 10px;
}

#whatsapp{
  max-width: 35px;
  margin-left: 10px;
}

/* PROVA */




