<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="it" class="h-100" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>Contatti</title>
  <meta name="viewport" content="width=device-width", initial-scale="1">
  <link href="contatti.css" rel="stylesheet"/>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/css/contatti.css" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css2?family=Barlow" rel="stylesheet">
</head>
<body>
<div id="contenitore">
  <header>
    <img src="static/image/logorent.jpg" id="img_logo">
    <video id="video_header" autoplay loop>
      <source src="static/video/macchine2.mp4" type="video/mp4">
    </video>
    <img src="static/image/ragazzo2.png" id="img_ragazzo">
  </header>
    <main>
      <aside>

      </aside>

      <div id="contenitore2">
        <nav>
          <ul>
            <div id="nav_li1"><li><a href="index.html">Homepage</a></li></div>
            <div id="nav_li2"><li><a href="#">Offerte</a></li></div>
            <div id="nav_li3"><li><a href="#">Guida al noleggio</a></li></div>
            <div id="nav_li4"><li><a href="contatti.html">Contatti</a></li></div>
            <div id="nav_li5"><li><a href="#">Area Utente</a></li></div>
          </ul>
        </nav>

      <gallery>
        <div class="immagine_strada">
          <h3 id="su_di_noi_h">Su di noi</h3>
          <br/>
          <br/>
            <p id="su_di_noi"> Pugeto è un'azienda nata nel 2000 dalla fusione di due aziende situate tra il Veneto e la Puglia, il suo nome richiama
            un'unione non soltanto territoriale.
            Nasce da un’idea di esperti nel settore con pluriennale esperienza nel campo dell’auto, ed in particolare nel settore del Noleggio.
            Il nostro motto è "Massima trasparenza, massima esperienza, massima affidabilità".
            Pugeto è un modo veloce, semplice e pratico per organizzare i tuoi viaggi. Ti sarà sufficiente inserire a destinazione
            le date di ritiro e di consegna nel nostro motore di ricerca per accedere alle migliori offerte.
            </p>
        </div>
      </gallery>
      </div>
    </main>

  <footer>
    <div id="footer" class="row">
      <div id="footer_sx" class="col-sm-4 col-md-4 col-lg-4 col-xl-4 text-center">
        <div class="row text-center">
          <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">©CarRent è un marchio registrato</div>
          <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">Tutti i diritti riservati</div>
        </div>
      </div>
      <div id="footer_center" class="col-sm-4 col-md-4 col-lg-4 col-xl-4 text-center">
        <ul class="list-group list-unstyled">
          <li>Hai delle curiosita?</li>
          <li>Contattaci alla seguente mail: <a href="mailto::CarRent@gmail.com">CarRent@gmail.com</a></li>
        </ul>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 d-inline-flex justify-content-center">
        <div class="row text-center">
          <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">Seguiteci sui nostri social:</div>
          <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 d-inline-flex justify-content-center">
            <div><a href="#"><img src="static/image/facebook.jpg" id="facebook"/></a></div>
            <div><a href="#"><img src="static/image/instagram.jpg" id="instagram"/></a></div>
            <div><a href="#"><img src="static/image/whatsapp.jpg" id="whatsapp"/></a></div>
          </div>
        </div>
      </div>
    </div>
  </footer>

</div>
<script type="text/javascript" src="javascript.js"></script>
</body>
</html>
