<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Homepage</title>
  <!--<link href="stile_sport.css" rel="stylesheet" /> -->
  <meta name="viewport" content="width=device-width", initial-scale="1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="style.css" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css2?family=Barlow" rel="stylesheet">
</head>
<body>
<div id="contenitore">
  <header> HEADER </header>
  <main>
    <aside> aside </aside>

    <div id="contenitore2">
      <nav>
        <ul>
          <li><a href="#">UTILITARIE</a></li>
          <li><a href="#">BERLINE</a></li>
          <li><a href="#">FURGONI</a></li>
          <li><a href="#">SUV</a></li>
        </ul>
      </nav>

      <gallery>


       <div class="immagine_strada">

         <h2>CONTATTI</h2>


         <div id="contact">
         <div id="contact1">

                <span>
                    <strong class="contact_name"> Luciana Maselli</strong>
                </span>
                     <br>
                     <span>
                    Responsabile Amministrativo
                </span>
                     <br>
                     <span>
                    Tel: <strong> <a href="tel:+393385322212">+39 338 5322212</a></strong>
                </span>
                     <br>
                     <span>
                        <strong><a href="mailto:l.maselli@carrental.com">l.maselli@carrental.com</a></strong>
                    </span>
                     <br>
                   </div>

        <div id="contact2">
                <span>
                    <strong class="contact_name"> Vincenzo Carrieri</strong>
                </span>
          <br>
          <span>
                    Responsabile Noleggio
                </span>
          <br>
          <span>
                    Tel: <strong><a href="tel:+393295322220">+39 329 5322220</a></strong>
                </span>
          <br>
          <span>
                       <strong> <a href="mailto:v.carrieri@carrental.com">v.carrieri@carrental.com</a></strong>
                    </span>
          <br>
        </div>

       </div>

         <div id="indirizzi">
          <strong><p id="localita">Dove ci troviamo:</p></strong>

           <p id="bari">S.S. 96 Km. 118+600
             70026 Bari - Modugno
             Tel: <strong><a href="tel:+390805532568">+39 080 5532568</a></strong>
           </p>

          <p id="padova">Viale Unità D’Italia, 63
            35143 Padova
            Tel:<strong><a href="tel:+390495322330">+39 049 5322330</a></strong></p>

         </div>
       </div>



        </gallery>


    </div>
  </main>
  <footer>
    <div id="footer" class="row">
      <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 text-center">
        <div class="row text-center">
          <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">©CarRent è un marchio registrato</div>
          <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">Tutti i diritti riservati</div>
        </div>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 text-center">
        <ul class="list-group list-unstyled">
          <li>Hai delle curiosita?</li>
          <li>Contattaci alla seguente mail: <a href="mailto::CarRent@gmail.com">CarRent@gmail.com</a></li>
        </ul>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 d-inline-flex justify-content-center">
        <div class="row text-center">
          <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">Seguiteci sui nostri social:</div>
          <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 d-inline-flex justify-content-center">
            <div><a href="#"><img src="facebook.jpg" id="facebook"/></a></div>
            <div><a href="#"><img src="instagram.jpg" id="instagram"/></a></div>
            <div><a href="#"><img src="whatsapp.jpg" id="whatsapp"/></a></div>
          </div>
        </div>
      </div>
    </div>
  </footer>

</div>
<script type="text/javascript" src="javascript.js"></script>
</body>
</html>
