<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="it" class="h-100" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>Homepage</title>
  <meta name="viewport" content="width=device-width", initial-scale="1">
 
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/css/contatti.css" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css2?family=Barlow" rel="stylesheet">
</head>
<body>
<div id="contenitore">
  <header>
    <img src="static/image/logorent.jpg" id="img_logo">
    <video id="video_header" autoplay muted loop>
      <source src="static/video/macchine2.mp4" type="video/mp4">
    </video>
    <img src="static/image/ragazzo2.png" id="img_ragazzo">
  </header>
  <main>
    <aside>

    </aside>

    <div id="contenitore2">
      <nav>
        <ul>
          <div id="nav_li1"><li><a href="index.html">Homepage</a></li></div>
          <div id="nav_li2"><li><a href="#">Offerte</a></li></div>
          <div id="nav_li3"><li><a href="#">Guida al noleggio</a></li></div>
          <div id="nav_li4"><li><a href="contatti.html">Contatti</a></li></div>
          <div id="nav_li5"><li><a href="#">Area Utente</a></li></div>
        </ul>
      </nav>

      <gallery>



        <div class="immagine_strada">

          <h2>CONTATTI</h2>


          <div id="contact">
            <div id="contact1">

                <span>
                    <strong class="contact_name"> Luciana Maselli</strong>
                </span>
              <br>
              <span>
                    Responsabile Amministrativo
                </span>
              <br>
              <span>
                    Tel: <strong> <a href="tel:+393385322212">+39 338 5322212</a></strong>
                </span>
              <br>
              <span>
                        <strong><a href="mailto:l.maselli@carrental.com">l.maselli@carrental.com</a></strong>
                    </span>
              <br>
            </div>

            <div id="contact2">
                <span>
                    <strong class="contact_name"> Vincenzo Carrieri</strong>
                </span>
              <br>
              <span>
                    Responsabile Noleggio
                </span>
              <br>
              <span>
                    Tel: <strong><a href="tel:+393295322220">+39 329 5322220</a></strong>
                </span>
              <br>
              <span>
                       <strong> <a href="mailto:v.carrieri@carrental.com">v.carrieri@carrental.com</a></strong>
                    </span>
              <br>
            </div>

          </div>

          <div id="indirizzi">
            <strong><p id="localita">Dove ci troviamo:</p></strong>

            <p id="bari">S.S. 96 Km. 118+600
              70026 Bari - Modugno
              Tel: <strong><a href="tel:+390805532568">+39 080 5532568</a></strong>
            </p>

            <p id="padova">Viale Unità D’Italia, 63
              35143 Padova
              Tel:<strong><a href="tel:+390495322330">+39 049 5322330</a></strong></p>

          </div>
        </div>


      </gallery>
    </div>
  </main>

  <footer>
    <div id="footer" class="row">
      <div id="footer_sx" class="col-sm-4 col-md-4 col-lg-4 col-xl-4 text-center">
        <div class="row text-center">
          <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">©CarRent è un marchio registrato</div>
          <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">Tutti i diritti riservati</div>
        </div>
      </div>
      <div id="footer_center" class="col-sm-4 col-md-4 col-lg-4 col-xl-4 text-center">
        <ul class="list-group list-unstyled">
          <li>Hai delle curiosita?</li>
          <li>Contattaci alla seguente mail: <a href="mailto::CarRent@gmail.com">CarRent@gmail.com</a></li>
        </ul>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 d-inline-flex justify-content-center">
        <div class="row text-center">
          <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">Seguiteci sui nostri social:</div>
          <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 d-inline-flex justify-content-center">
            <div><a href="#"><img src="static/image/facebook.jpg" id="facebook"/></a></div>
            <div><a href="#"><img src="static/image/instagram.jpg" id="instagram"/></a></div>
            <div><a href="#"><img src="static/image/whatsapp.jpg" id="whatsapp"/></a></div>
          </div>
        </div>
      </div>
    </div>
  </footer>

</div>
<script type="text/javascript" src="static/javascript/javascript.js"></script>
</body>
</html>
