<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="it" class="h-100">
<head>
  <meta charset="UTF-8">
  <title>Offerte</title>
  <meta name="viewport" content="width=device-width" initial-scale="1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
  
  <link href="https://fonts.googleapis.com/css2?family=Barlow" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto" rel="stylesheet">
  <link th:href="@{static/css/offerte.css}" rel="stylesheet"></link>
</head>
<body>
<div id="contenitore">
  <header>
    <img src="static/image/logorent.jpg" id="img_logo">
    <video id="video_header" autoplay loop muted>
      <source src="static/video/macchine2.mp4" type="video/mp4">
    </video>
    <img src="static/image/ragazzo2.png" id="img_ragazzo">
  </header>
  <main>
    <aside>
      <img src="static/image/offerte.gif?ts=<?=time()?>&quot" class="img-fluid gif2"/>
    </aside>

    <div id="contenitore2">
      <nav>
        <ul>
          <div id="nav_li1"><li><a href="home">Homepage</a></li></div>
            <div id="nav_li2"><li><a href="home/offerte">Offerte</a></li></div>
            <div id="nav_li3"><li><a href="home/guidaAlNoleggio">Guida al noleggio</a></li></div>
            <div id="nav_li4"><li><a href="home/contatti">Contatti</a></li></div>
            <div id="nav_li5"><li><a href="home/sign">Area Utente</a></li></div>
        </ul>
      </nav>

      <gallery>
        <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-12">
            <strong class="text ms-2 mt-2">Scopri le offerte dedicate a te!</strong>
            <p class="ms-2 mt-2">Sapevate che da Pugeto S.r.l ogni noleggio è un risparmio? Dedica qualche minuto per scoprire i vantaggi dei nostri
              noleggi!</p>
            <br/>
            <p class="ms-2 mt-2"><img src="static/image/icon_sale.gif?ts=<?=time()?>&quot" class="gif1"/> <strong>E' il vostro primo noleggio?</strong> Allora iscrivetevi per ottenere il <strong>10%</strong>
              di sconto sul vostro primo noleggio!</p>
            <p class="ms-2 mt-2"><img src="static/image/icon_sale.gif?ts=<?=time()?>&quot" class="gif1"/> <strong>Volete noleggiare i nostri veicoli per piu' di 7 giorni?</strong> Anche in questo caso
              otterrete un <strong>10%</strong> di sconto!</p>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-12"><img src="static/image/audi.jpg?ts=<?=time()?>&quot" class="img-fluid"/></div>
          <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-12"><img src="static/image/simbolo_offert.jpg?ts=<?=time()?>&quot" class="img-fluid"/></div>
          <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-12">
            <p class="mt-5"><img src="static/image/icon_sale.gif?ts=<?=time()?>&quot" class="gif1"/> <strong>Sei possessore di partita IVA?</strong> Ti viene riconosciuta una detrazione
              IVA pari al <strong>5%</strong> del totale del noleggio</p>
            <p class="mt-5"><img src="static/image/icon_sale.gif?ts=<?=time()?>&quot" class="gif1"/> <strong>Studente universitario?</strong> Anche per te viene riconosciuto uno sconto pari a
              <strong>€30</strong> sul tuo noleggio presentando la tua tessera dello studente</p>
          </div>
        </div>
      </gallery>
    </div>
  </main>

  <footer>
    <div id="footer" class="row">
      <div id="footer_sx" class="col-sm-4 col-md-4 col-lg-4 col-xl-4 text-center">
        <div class="row text-center">
          <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">©Pugeto è un marchio registrato</div>
          <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">Tutti i diritti riservati</div>
        </div>
      </div>
      <div id="footer_center" class="col-sm-4 col-md-4 col-lg-4 col-xl-4 text-center">
        <ul class="list-group list-unstyled">
          <li>Hai delle curiosita?</li>
          <li>Contattaci alla seguente mail: <a href="mailto::Pugeto@gmail.com">Pugeto@gmail.com</a></li>
        </ul>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 d-inline-flex justify-content-center">
        <div class="row text-center">
          <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">Seguiteci sui nostri social:</div>
          <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 d-inline-flex justify-content-center">
            <div><a href="#"><img src="static/image/facebook.jpg?ts=<?=time()?>&quot" id="facebook"/></a></div>
            <div><a href="#"><img src="static/image/instagram.jpg?ts=<?=time()?>&quot" id="instagram"/></a></div>
            <div><a href="#"><img src="static/image/whatsapp.jpg?ts=<?=time()?>&quot" id="whatsapp"/></a></div>
          </div>
        </div>
      </div>
    </div>
  </footer>

</div>
</body>
</html>
