<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="it" class="h-100">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
  <link rel="stylesheet" th:href="@{/static/css/login.css}">
</head>
<body>
<div id="contenitore">
  <form method="post" action="sign/login"name="form1">
      <fieldset>
        <legend>Login</legend>
        <h1>Username</h1><input type="text" name="username" class="testi"required placeholder="Username" /><br/>
        <h1>Password</h1><input type="password" name="password" class="testi" required placeholder="Password"/><br/>
        <a href="#">Password dimenticata?</a></br><br/>
        <input type="submit" name="submit" class="pulsante" value="Accedi"/>
      </fieldset>
  </form>

    <h1>Non sei registrato? Crea subito un account</h1>
  <form method="post" action="sign/signup"name="form2">
    <fieldset>
      <legend>Registrazione</legend>
        <h1>Nome</h1><input type="text" name="nome" class="testi"required placeholder="Nome" /><br/>
        <h1>Cognome</h1><input type="text" name="cognome" class="testi" required placeholder="Cognome"/><br/>
        <h1>Codice Fiscale</h1><input type="text" name="codiceFiscale" class="testi" required placeholder="Codice Fiscale"/><br/>
        <h1>Telefono</h1><input type="text" name="telefono" class="testi" required placeholder="Telefono"/><br/>
        <h1>E-mail</h1><input type="text" name="email" class="testi" required placeholder="E-mail"/>
        <h1>Scegli username</h1><input type="text" name="username" class="testi" required placeholder="E-mail"/>
        <h1>Scegli password</h1><input type="password" name="password" class="testi" required placeholder="Password"/><br/><br/>
        <input type="submit" name="submit" class="pulsante" value="Crea account"/>
    </fieldset>
  </form>
</div>
</body>
</html>
